{% extends 'main/main.html.twig' %}
{% block body %}
    <h3>Sección de Canciones</h3>
    
    {% for cancion in canciones %}

        
        <h4 >{{cancion.name}}</h4>
    
        <img src="{{cancion.img}}" />
        
       <p> <a href="{{path("getinfo", {"id": cancion.id})}}">Más información sobre la cancion</a> </p>

    {% endfor %}
{% endblock %}